In [1]:
import numpy as np 
import pandas as pd 
import os

In [2]:
#concatenate data for years 2024 and 2025
df_2024 = pd.read_csv("../01_raw_data/ttc-subway-delay-data-2024.csv")

df_2025 = pd.read_csv("../01_raw_data/TTC Subway Delay Data since 2025.csv")

df_2025 = df_2025.drop(columns='_id')
#Dates
df_2024['Date'] = pd.to_datetime(df_2024['Date'])
df_2025['Date'] = pd.to_datetime(df_2025['Date'], format='%Y-%m-%d')

#Combined data frame

df = pd.concat([df_2024, df_2025], ignore_index=True)
df.head()
#Droping

,Date,Time,Day,Station,Code,Min Delay,Min Gap,Bound,Line,Vehicle
0,2024-01-01,02:00,Monday,SHEPPARD STATION,MUI,0.0,0.0,N,YU,5491.0
1,2024-01-01,02:00,Monday,DUNDAS STATION,MUIS,0.0,0.0,N,YU,0.0
2,2024-01-01,02:08,Monday,DUNDAS STATION,MUPAA,4.0,10.0,N,YU,6051.0
3,2024-01-01,02:13,Monday,KENNEDY BD STATION,PUTDN,10.0,16.0,E,BD,5284.0
4,2024-01-01,02:22,Monday,BLOOR STATION,MUPAA,4.0,10.0,N,YU,5986.0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28571 entries, 0 to 28570
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       28571 non-null  datetime64[ns]
 1   Time       28571 non-null  object
 2   Day        28571 non-null  object
 3   Station    28571 non-null  object
 4   Code       28571 non-null  object
 5   Min Delay  27275 non-null  float64
 6   Min Gap    27230 non-null  float64
 7   Bound      18329 non-null  object
 8   Line       28522 non-null  object
 9   Vehicle    27754 non-null  float64
dtypes: datetime64[ns](1), float64(3), object(6)
memory usage: 2.2+ MB

In [4]:
df['Line'].unique()

array(['YU', 'BD', 'YUS', 'YU/BD', 'SHP', nan, 'BLOOR DANFORTH',
       'YU / BD', 'YU/ BD', 'SRT', 'YUS/BD', 'SHEP', 'LINE 1',
       'TRACK LEVEL ACTIVITY', 'YU & BD', '109 RANEE',
       'ONGE-UNIVERSITY AND BL', 'YU/BD/SHP', 'BD/ YUS', 'BD/ YU',
       'BD/YU', 'BD / YU', '20 CLIFFSIDE'], dtype=object)

In [5]:
#Removing SRT Line

df = df[df['Line'] != 'SRT']
df['Line'].unique()

array(['YU', 'BD', 'YUS', 'YU/BD', 'SHP', nan, 'BLOOR DANFORTH',
       'YU / BD', 'YU/ BD', 'YUS/BD', 'SHEP', 'LINE 1',
       'TRACK LEVEL ACTIVITY', 'YU & BD', '109 RANEE',
       'ONGE-UNIVERSITY AND BL', 'YU/BD/SHP', 'BD/ YUS', 'BD/ YU',
       'BD/YU', 'BD / YU', '20 CLIFFSIDE'], dtype=object)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 28569 entries, 0 to 28570
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       28569 non-null  datetime64[ns]
 1   Time       28569 non-null  object
 2   Day        28569 non-null  object
 3   Station    28569 non-null  object
 4   Code       28569 non-null  object
 5   Min Delay  27273 non-null  float64
 6   Min Gap    27228 non-null  float64
 7   Bound      18329 non-null  object
 8   Line       28520 non-null  object
 9   Vehicle    27752 non-null  float64
dtypes: datetime64[ns](1), float64(3), object(6)
memory usage: 2.4+ MB

In [7]:
 #count isnull values per column
print(df.isnull().sum())

Date             0
Time             0
Day              0
Station          0
Code             0
Min Delay     1296
Min Gap       1341
Bound        10240
Line            49
Vehicle        817
dtype: int64

In [28]:
#drop 'Bound' isnull
df_cleaned = df.dropna(subset=['Bound','Vehicle','Line', 'Min Delay', 'Min Gap'])

In [29]:
 #count isnull values per column
print(df_cleaned.isnull().sum())

Date         0
Time         0
Day          0
Station      0
Code         0
Min Delay    0
Min Gap      0
Bound        0
Line         0
Vehicle      0
dtype: int64

In [30]:
# Converting 'datetime' column to datetime format
df_cleaned['Date'] = pd.to_datetime(df_cleaned['Date'])

C:\Users\User\AppData\Local\Temp\ipykernel_8220\1789164535.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Date'] = pd.to_datetime(df_cleaned['Date'])

In [31]:
# Creating new features from 'Date' column
df_cleaned['Month'] = df_cleaned['Date'].dt.month
print(df_cleaned.head())

        Date   Time     Day             Station   Code  Min Delay  Min Gap  \
0 2024-01-01  02:00  Monday    SHEPPARD STATION    MUI        0.0      0.0
1 2024-01-01  02:00  Monday      DUNDAS STATION   MUIS        0.0      0.0
2 2024-01-01  02:08  Monday      DUNDAS STATION  MUPAA        4.0     10.0
3 2024-01-01  02:13  Monday  KENNEDY BD STATION  PUTDN       10.0     16.0
4 2024-01-01  02:22  Monday       BLOOR STATION  MUPAA        4.0     10.0

  Bound Line  Vehicle  Month
0     N   YU   5491.0      1
1     N   YU      0.0      1
2     N   YU   6051.0      1
3     E   BD   5284.0      1
4     N   YU   5986.0      1

C:\Users\User\AppData\Local\Temp\ipykernel_8220\3990411749.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Month'] = df_cleaned['Date'].dt.month

In [32]:
# add dataset for Code categories
df_code = pd.read_csv("../02_data_processing/code_category_description.csv")
print(df_code)

    Delay Code                                 Category  \
0         EUAC  Mechanical/Electrical/Vehicle Equipment
1         EUAL  Mechanical/Electrical/Vehicle Equipment
2        EUATC  Mechanical/Electrical/Vehicle Equipment
3         EUBK  Mechanical/Electrical/Vehicle Equipment
4         EUBO  Mechanical/Electrical/Vehicle Equipment
..         ...                                      ...
124        TUS                  Transportation/Operator
125       TUSC                  Transportation/Operator
126      TUSET                  Transportation/Operator
127       TUST                         Weather/External
128      TUSUP                  Transportation/Operator

                                           Description
0           Train HVAC malfunction or underperformance
1      Issues with onboard or wayside AC power systems
2    ATC equipment malfunction related to Rail Cars...
3          Faulty brake components or pneumatic issues
4        Structural or body-related train car problems
..                                                 ...
124                   Crew unable to maintain schedule
125     Operator overspeeding or ignoring speed limits
126                Train controls improperly shut down
127  Storm trains or slow orders due to severe weather
128       Supervisory error causing service disruption

[129 rows x 3 columns]

In [33]:
df_code.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129 entries, 0 to 128
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Delay Code   129 non-null    object
 1   Category     129 non-null    object
 2   Description  129 non-null    object
dtypes: object(3)
memory usage: 3.1+ KB

In [34]:
# Adding 'Category' column from df_code to df_cleanese based on 'Deay code'
df_delay = pd.merge(df_cleaned, df_code[['Delay Code', 'Category']], left_on='Code', right_on = 'Delay Code',how='left')

In [35]:
df_delay.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17692 entries, 0 to 17691
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Date        17692 non-null  datetime64[ns]
 1   Time        17692 non-null  object
 2   Day         17692 non-null  object
 3   Station     17692 non-null  object
 4   Code        17692 non-null  object
 5   Min Delay   17692 non-null  float64
 6   Min Gap     17692 non-null  float64
 7   Bound       17692 non-null  object
 8   Line        17692 non-null  object
 9   Vehicle     17692 non-null  float64
 10  Month       17692 non-null  int32
 11  Delay Code  17650 non-null  object
 12  Category    17650 non-null  object
dtypes: datetime64[ns](1), float64(3), int32(1), object(8)
memory usage: 1.7+ MB

In [36]:
# Printing new dataframe after creation of new features
print(df_delay.head())

        Date   Time     Day             Station   Code  Min Delay  Min Gap  \
0 2024-01-01  02:00  Monday    SHEPPARD STATION    MUI        0.0      0.0
1 2024-01-01  02:00  Monday      DUNDAS STATION   MUIS        0.0      0.0
2 2024-01-01  02:08  Monday      DUNDAS STATION  MUPAA        4.0     10.0
3 2024-01-01  02:13  Monday  KENNEDY BD STATION  PUTDN       10.0     16.0
4 2024-01-01  02:22  Monday       BLOOR STATION  MUPAA        4.0     10.0

  Bound Line  Vehicle  Month Delay Code                           Category
0     N   YU   5491.0      1        MUI              Medical/Injury/Safety
1     N   YU      0.0      1       MUIS              Medical/Injury/Safety
2     N   YU   6051.0      1      MUPAA  Door/Passenger/Platform Incidents
3     E   BD   5284.0      1      PUTDN        Track/Infrastructure/Debris
4     N   YU   5986.0      1      MUPAA  Door/Passenger/Platform Incidents

In [44]:
# Specify the file path where the dataset should be saved
file_path = '../01_raw_data/df_delay.csv'  

# Save the dataset as a CSV file
df_delay.to_csv(file_path, index=False)

print(f"Dataset has been saved to: {file_path}")

Dataset has been saved to: ../01_raw_data/df_delay.csv