In [1]:
import numpy as np 
import pandas as pd 
import os

In [13]:
df_2024 = pd.read_csv("../01_raw_data/ttc-subway-delay-data-2024.csv")

df_2025 = pd.read_csv("../01_raw_data/TTC Subway Delay Data since 2025.csv")

df_2025 = df_2025.drop(columns='_id')
#Dates
df_2024['Date'] = pd.to_datetime(df_2024['Date'])
df_2025['Date'] = pd.to_datetime(df_2025['Date'], format='%Y-%m-%d')

#Combined data frame

df = pd.concat([df_2024, df_2025], ignore_index=True)

#Droping

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28571 entries, 0 to 28570
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       28571 non-null  datetime64[ns]
 1   Time       28571 non-null  object
 2   Day        28571 non-null  object
 3   Station    28571 non-null  object
 4   Code       28571 non-null  object
 5   Min Delay  27275 non-null  float64
 6   Min Gap    27230 non-null  float64
 7   Bound      18329 non-null  object
 8   Line       28522 non-null  object
 9   Vehicle    27754 non-null  float64
dtypes: datetime64[ns](1), float64(3), object(6)
memory usage: 2.2+ MB

In [16]:
df['Line'].unique()

array(['YU', 'BD', 'YUS', 'YU/BD', 'SHP', nan, 'BLOOR DANFORTH',
       'YU / BD', 'YU/ BD', 'SRT', 'YUS/BD', 'SHEP', 'LINE 1',
       'TRACK LEVEL ACTIVITY', 'YU & BD', '109 RANEE',
       'ONGE-UNIVERSITY AND BL', 'YU/BD/SHP', 'BD/ YUS', 'BD/ YU',
       'BD/YU', 'BD / YU', '20 CLIFFSIDE'], dtype=object)

In [ ]:
#Removing SRT Line

df = df[df['Line'] != 'SRT']
df['Line'].unique()

array(['YU', 'BD', 'YUS', 'YU/BD', 'SHP', nan, 'BLOOR DANFORTH',
       'YU / BD', 'YU/ BD', 'YUS/BD', 'SHEP', 'LINE 1',
       'TRACK LEVEL ACTIVITY', 'YU & BD', '109 RANEE',
       'ONGE-UNIVERSITY AND BL', 'YU/BD/SHP', 'BD/ YUS', 'BD/ YU',
       'BD/YU', 'BD / YU', '20 CLIFFSIDE'], dtype=object)

In [ ]:
#df.to_csv("df_delays.csv",index =False)