In [29]:
import numpy as np 
import pandas as pd 
import os

In [ ]:
#concatenate data for years 2024 and 2025
df_2024 = pd.read_csv("../01_raw_data/ttc-subway-delay-data-2024.csv")

df_2025 = pd.read_csv("../01_raw_data/TTC Subway Delay Data since 2025.csv")

df_2025 = df_2025.drop(columns='_id')
#Dates
df_2024['Date'] = pd.to_datetime(df_2024['Date'])
df_2025['Date'] = pd.to_datetime(df_2025['Date'], format='%Y-%m-%d')

#Combined data frame

df = pd.concat([df_2024, df_2025], ignore_index=True)
df.head()

,Date,Time,Day,Station,Code,Min Delay,Min Gap,Bound,Line,Vehicle
0,2024-01-01,02:00,Monday,SHEPPARD STATION,MUI,0.0,0.0,N,YU,5491.0
1,2024-01-01,02:00,Monday,DUNDAS STATION,MUIS,0.0,0.0,N,YU,0.0
2,2024-01-01,02:08,Monday,DUNDAS STATION,MUPAA,4.0,10.0,N,YU,6051.0
3,2024-01-01,02:13,Monday,KENNEDY BD STATION,PUTDN,10.0,16.0,E,BD,5284.0
4,2024-01-01,02:22,Monday,BLOOR STATION,MUPAA,4.0,10.0,N,YU,5986.0

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28571 entries, 0 to 28570
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       28571 non-null  datetime64[ns]
 1   Time       28571 non-null  object
 2   Day        28571 non-null  object
 3   Station    28571 non-null  object
 4   Code       28571 non-null  object
 5   Min Delay  27275 non-null  float64
 6   Min Gap    27230 non-null  float64
 7   Bound      18329 non-null  object
 8   Line       28522 non-null  object
 9   Vehicle    27754 non-null  float64
dtypes: datetime64[ns](1), float64(3), object(6)
memory usage: 2.2+ MB

In [32]:
# Check unique values
print("\nUnique Values per Column:")
df.nunique()

Unique Values per Column:

Date          397
Time         1426
Day             7
Station       473
Code          125
Min Delay     109
Min Gap       106
Bound           5
Line           22
Vehicle       786
dtype: int64

In [33]:
df['Line'].unique()

array(['YU', 'BD', 'YUS', 'YU/BD', 'SHP', nan, 'BLOOR DANFORTH',
       'YU / BD', 'YU/ BD', 'SRT', 'YUS/BD', 'SHEP', 'LINE 1',
       'TRACK LEVEL ACTIVITY', 'YU & BD', '109 RANEE',
       'ONGE-UNIVERSITY AND BL', 'YU/BD/SHP', 'BD/ YUS', 'BD/ YU',
       'BD/YU', 'BD / YU', '20 CLIFFSIDE'], dtype=object)

In [34]:
df['Bound'].unique()

array(['N', 'E', 'S', nan, 'W', 'B'], dtype=object)

## Data Cleaning

In [35]:
#Removing SRT Line

df = df[df['Line'] != 'SRT']
df['Line'].unique()

array(['YU', 'BD', 'YUS', 'YU/BD', 'SHP', nan, 'BLOOR DANFORTH',
       'YU / BD', 'YU/ BD', 'YUS/BD', 'SHEP', 'LINE 1',
       'TRACK LEVEL ACTIVITY', 'YU & BD', '109 RANEE',
       'ONGE-UNIVERSITY AND BL', 'YU/BD/SHP', 'BD/ YUS', 'BD/ YU',
       'BD/YU', 'BD / YU', '20 CLIFFSIDE'], dtype=object)

In [36]:
 #count isnull values per column
print(df.isnull().sum())

Date             0
Time             0
Day              0
Station          0
Code             0
Min Delay     1296
Min Gap       1341
Bound        10240
Line            49
Vehicle        817
dtype: int64

In [37]:
df =  df.drop('Vehicle',axis=1)

In [38]:
 #Replace NaNs with the n/a 
df['Bound'] = df['Bound'].fillna(('n/a'))
df['Line'] = df['Line'].fillna(('n/a'))

In [39]:
#drop  isnull columns
#df_cleaned = df.dropna(subset=['Bound','Vehicle','Line', 'Min Delay', 'Min Gap'])

In [40]:
#drop isnull values in Min Delay and columns
df_cleaned = df.dropna() #Nan  0

In [41]:
df_cleaned.info()   #28571    17692

<class 'pandas.core.frame.DataFrame'>
Index: 27228 entries, 0 to 28570
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       27228 non-null  datetime64[ns]
 1   Time       27228 non-null  object
 2   Day        27228 non-null  object
 3   Station    27228 non-null  object
 4   Code       27228 non-null  object
 5   Min Delay  27228 non-null  float64
 6   Min Gap    27228 non-null  float64
 7   Bound      27228 non-null  object
 8   Line       27228 non-null  object
dtypes: datetime64[ns](1), float64(2), object(6)
memory usage: 2.1+ MB

In [42]:
 #count isnull values per column
print(df_cleaned.isnull().sum())

Date         0
Time         0
Day          0
Station      0
Code         0
Min Delay    0
Min Gap      0
Bound        0
Line         0
dtype: int64

In [43]:
# Converting 'datetime' column to datetime format
df_cleaned['Date'] = pd.to_datetime(df_cleaned['Date'])

C:\Users\jcp_2\AppData\Local\Temp\ipykernel_39632\1789164535.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Date'] = pd.to_datetime(df_cleaned['Date'])

In [44]:
# Creating new features from 'Date' column
df_cleaned['Year'] = df_cleaned['Date'].dt.year
df_cleaned['Month'] = df_cleaned['Date'].dt.month
print(df_cleaned.head())

        Date   Time     Day             Station   Code  Min Delay  Min Gap  \
0 2024-01-01  02:00  Monday    SHEPPARD STATION    MUI        0.0      0.0
1 2024-01-01  02:00  Monday      DUNDAS STATION   MUIS        0.0      0.0
2 2024-01-01  02:08  Monday      DUNDAS STATION  MUPAA        4.0     10.0
3 2024-01-01  02:13  Monday  KENNEDY BD STATION  PUTDN       10.0     16.0
4 2024-01-01  02:22  Monday       BLOOR STATION  MUPAA        4.0     10.0

  Bound Line  Year  Month
0     N   YU  2024      1
1     N   YU  2024      1
2     N   YU  2024      1
3     E   BD  2024      1
4     N   YU  2024      1

C:\Users\jcp_2\AppData\Local\Temp\ipykernel_39632\1228345605.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Year'] = df_cleaned['Date'].dt.year
C:\Users\jcp_2\AppData\Local\Temp\ipykernel_39632\1228345605.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Month'] = df_cleaned['Date'].dt.month

In [45]:
# add dataset for Code categories
df_code = pd.read_csv("../02_data_processing/code_category_description.csv")
print(df_code)

    Delay Code                                 Category  \
0         EUAC  Mechanical/Electrical/Vehicle Equipment
1         EUAL  Mechanical/Electrical/Vehicle Equipment
2        EUATC  Mechanical/Electrical/Vehicle Equipment
3         EUBK  Mechanical/Electrical/Vehicle Equipment
4         EUBO  Mechanical/Electrical/Vehicle Equipment
..         ...                                      ...
124        TUS                  Transportation/Operator
125       TUSC                  Transportation/Operator
126      TUSET                  Transportation/Operator
127       TUST                         Weather/External
128      TUSUP                  Transportation/Operator

                                           Description
0           Train HVAC malfunction or underperformance
1      Issues with onboard or wayside AC power systems
2    ATC equipment malfunction related to Rail Cars...
3          Faulty brake components or pneumatic issues
4        Structural or body-related train car problems
..                                                 ...
124                   Crew unable to maintain schedule
125     Operator overspeeding or ignoring speed limits
126                Train controls improperly shut down
127  Storm trains or slow orders due to severe weather
128       Supervisory error causing service disruption

[129 rows x 3 columns]

In [46]:
# Check unique values
print("\nUnique Values per Column:")
df_cleaned.nunique()

Unique Values per Column:

Date          397
Time         1420
Day             7
Station       463
Code          125
Min Delay     109
Min Gap       106
Bound           6
Line           22
Year            2
Month          12
dtype: int64

In [47]:
# Check unique values
print("\nUnique Values per Column:")
df_code.nunique()

Unique Values per Column:

Delay Code     129
Category        11
Description    129
dtype: int64

In [48]:
df_code.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129 entries, 0 to 128
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Delay Code   129 non-null    object
 1   Category     129 non-null    object
 2   Description  129 non-null    object
dtypes: object(3)
memory usage: 3.1+ KB

In [49]:
# Adding 'Category' column from df_code to df_cleanese based on 'Delay code'
df_delay = pd.merge(df_cleaned, df_code, left_on='Code', right_on = 'Delay Code',how='inner')

In [50]:
df_delay.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26264 entries, 0 to 26263
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         26264 non-null  datetime64[ns]
 1   Time         26264 non-null  object
 2   Day          26264 non-null  object
 3   Station      26264 non-null  object
 4   Code         26264 non-null  object
 5   Min Delay    26264 non-null  float64
 6   Min Gap      26264 non-null  float64
 7   Bound        26264 non-null  object
 8   Line         26264 non-null  object
 9   Year         26264 non-null  int32
 10  Month        26264 non-null  int32
 11  Delay Code   26264 non-null  object
 12  Category     26264 non-null  object
 13  Description  26264 non-null  object
dtypes: datetime64[ns](1), float64(2), int32(2), object(9)
memory usage: 2.6+ MB

In [51]:
df_delay =  df_delay.drop(['Delay Code','Description'],axis=1)

In [52]:
#sort by date, time
df_delay = df_delay.sort_values(by=['Date', 'Time'])

In [53]:
# Printing new dataframe after creation of new features
print(df_delay.head())

         Date   Time     Day                 Station   Code  Min Delay  \
48 2024-01-01  00:01  Monday  GO PROTOCOL - DANFORTH    MUO        0.0
49 2024-01-01  00:44  Monday      VAUGHAN MC STATION  MUPAA        0.0
50 2024-01-01  00:48  Monday           BLOOR STATION    SUO        0.0
51 2024-01-01  01:10  Monday      VAUGHAN MC STATION    MUO        8.0
52 2024-01-01  01:11  Monday          DUNDAS STATION    SUO        0.0

    Min Gap Bound Line  Year  Month                           Category
48      0.0   n/a   BD  2024      1                      Miscellaneous
49      0.0     S   YU  2024      1  Door/Passenger/Platform Incidents
50      0.0     S   YU  2024      1                  Security/Policing
51     14.0     S   YU  2024      1                      Miscellaneous
52      0.0     S   YU  2024      1                  Security/Policing

## Export Clean Data

In [54]:
# Specify the file path where the dataset should be saved
file_path = './clean_data/df_delay.csv'  

# Save the dataset as a CSV file
df_delay.to_csv(file_path, index=False)

print(f"Dataset has been saved to: {file_path}")

Dataset has been saved to: ./clean_data/df_delay.csv